@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Poppins', sans-serif;
}
li{
    color: white;
    transition: 1s;
    font-size: 25px;
}
li:hover{
    color: rgb(119, 117, 117);
}